<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your details are :</h1>
    
    <table>
  <tr>
    <td>Name</td>
    <td>{{emp_details.employee_name}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>Address</td>
    <td>{{emp_details.address}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>Phone</td>
    <td>{{emp_details.phone}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>DOB</td>
    <td>{{emp_details.birth_date}}</td>
  </tr>
</table>
</body>
</html>